* {
    box-sizing: border-box;
}

.container {
    background-image: url(../images/celebration1.jpg);
    height: 700px;
}

p {
    font-size: 20px;
}

#Rect1 {
    height: 500px;
    background-color: yellow;
    margin-top: 100px;
    margin-left: 200px;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    position: relative;
}

#hTag1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    margin-top: 60px;
}

#startbutton {
    background-color: thistle;
    font-size: 30px;
    padding: 14px 40px;
    margin-left: 220px;
    margin-top: 50px;
}

#submitbutton {
    font-family: Georgia, Times, "Times New Roman", serif;
    display: none;
    background-color: thistle;
    font-size: 20px;
    float: right;
    margin-top: 260px;
}

#questionnaire {
    display: none;
    padding: 14px 40px;
    margin-left: 20px;
    margin-top: 0;
}

#thirdpart {
    display: none;
    padding: 14px 40px;
    margin-left: 220px;
    margin-top: 50px;
    position: absolute;
}

.radio-inline {
    font-size: 15px;
}

@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }
    #thirdpart {
        width: 90%;
        margin-left: 10px;
    }
    #Rect1 {
        height: 800px;
    }
    p {
        font-size: 15px;
    }
    .radio-inline {
        font-size: 10px;
    }
    #submitbutton {
        font-size: 17px;
        float: right;
        margin-top: 470px;
    }
    #startbutton {
        font-size: 17px;
        padding: 14px 40px;
        margin-left: 100px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    #thirdpart {
        width: 90%;
        margin-left: 10px;
    }
    #Rect1 {
        height: 1000px;
    }
    p {
        font-size: 17px;
    }
    .radio-inline {
        font-size: 13px;
    }
    #submitbutton {
        font-size: 18px;
        float: right;
        margin-top: 600px;
    }
    #startbutton {
        font-size: 18px;
        padding: 14px 40px;
        margin-left: 100px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        width: 100%;
    }
    #thirdpart {
        width: 100%;
        margin-left: 10px;
    }
    #Rect1 {
        height: 700px;
    }
    p {
        font-size: 18px;
    }
    .radio-inline {
        font-size: 13px;
    }
    #submitbutton {
        font-size: 18px;
        float: right;
        margin-top: 400px;
    }
    #startbutton {
        font-size: 18px;
        padding: 14px 40px;
        margin-left: 100px;
        margin-top: 50px;
    }
}